// buttons

.btn-container {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  height: 70px;
  width: 25%;
}

.btn {
  cursor: pointer;
  display: inline-block;
  background: $secondary-color;
  color: #fff;
  // padding: 8px 30px;
  width: 50%;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.btn:hover {
  background: $dark-gray;
}

.btn-shop {
  cursor: pointer;
  padding: 20px 0;
  margin-right: auto;
  display: flex;
  z-index: 10;
  h3 {
    margin-right: 30px;
    margin-bottom: 0;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 300;
    line-height: 1;
    transition: all 1s ease;
  }
  &:hover h3 {
    font-size: 1.2rem;
    letter-spacing: 13px;
  }
}
