@import "utilities";
@import "navbar";
@import "buttons";
@import "slider";

.showcase,
.about {
  display: grid;
  text-align: left;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

// showcase

.showcase {
  height: 65vh;
  grid-template-columns: 3fr 2fr;
  .showcase-img {
    position: relative;
    height: 100%;
    width: 100%;
    .btn-container {
      display: none;
      right: 0;
      left: auto;
    }
  }
  .showcase-content {
    position: relative;
    height: 100%;
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: left;
      padding: 70px;
    }
  }
}

// about

.about {
  height: 35vh;
  grid-template-columns: 3fr 4fr 3fr;
  .text {
    padding: 40px;
  }
}

// images

.img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@import "mobile";
